# Environment Variables (Never upload this!)
.env

# Python Virtual Environment
venv/
env/
.venv/

# Byte-compiled / Optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS specific files
.DS_Store
Thumbs.db.
